---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">Kdo jsme</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Jsme spolek sdružující studenty lékařských fakult, jejichž rodiče vlastní majetek v hodnotě přesahující 100000000CZK.
		</p>
		<p>Co děláme:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Organizujeme networkingové akce</li>
			<li>Spravujeme investiční fond (dceřiná společnost PMS Finance)</li>
			<li>Provádíme experimentální operace na vězních</li>
			<li>Vyvýjíme biologické zbraně</li>
			<li>Doučujeme studenty medicíny</li>
			<li>Chlastáme</li>
			<li>Posouváme lidstvo dopředu</li>
		</ul>
		<p>
			Přidej se k <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="/posts/citrus-docs/intro"
				rel="noreferrer"
				target="_blank">nám</a
			>, pokud by ses chtěl podílet na tomto zázraku!
		</p>
	</div>

</PageLayout>
