---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={"Porg Medical Society"}>
	<section class="hero">
		<div class="container">
			<div class="left-col">
				<p class="subhead">Sdružení studentů lékařských fakult</p>
				<h1>PORG Medical Society</h1>
			</div>
			<img class="hero-img" src="/pmsLogo.png" alt="PMS logo">
		</div>
	</section>
</BaseLayout>