---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={"Porg Medical Society"}>
	<section class="hero">
		<div class="container">
			<div class="left-col">
				<p class="subhead">Pre menstrual syndrom</p>
				<h1>Porg Medical Society</h1>

				<div class="hero-cta">
					<a class="primary-cta" href="#bottom">Přihlásit se</a>
					<a class="watch-video-cta" href="https://www.youtube.com/watch?v=oR3lmIv7Ah8">
						<img src="/watch.svg" alt="Watch a video">Mrkni se 
					</a>
				</div>
			</div>
			<img class="hero-img" src="/pmsLogo.png" alt="PMS logo">
		</div>
	</section>
</BaseLayout>